
  <nav>
    <div class="nav-wrapper brown lighten-5">
         <a href="/" class="brand-logo"><img src="/img/bookmatchtop.png" alt="BookMatch" style="width:300px;height:70px;"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/" class="black-text"><i class="fas fa-search amber-text"></i> Search</a></li>
      </ul>

    </div>
  </nav>    
    
    <div class="container fav-container">
        <div class="card brown lighten-5">
            <h3 class="center-align">Recent Favorites:</h3>
            <ul>
               {{#each books}}
               <li class="center-align">{{this.title}}, by {{this.body}}</li>
               {{/each}}
            </ul>
        </div>
    </div>


