
    <div class="container fav-container">
        <div class="card brown lighten-5">
            <h3 class="center-align">Recent Favorites:</h3>
            <ul>
               {{#each books}}
               <li class="center-align">{{this.title}}, by {{this.body}}</li>
               {{/each}}
            </ul>
        </div>
    </div>


