
    <div class="container fav-container">
        <div class="card">
            <h3 class="submitFont">Everyone is Reading:</h3>
            <ul>
               {{#each books}}
               <li>{{this.title}}{{this.body}}</li>
               {{/each}}
            </ul>
        </div>
    </div>


