<!--Full-Width Carousel w/ Descriptions-->
<div class="container">
    <div class="carousel carousel-slider center">
        {{#each booksArray}}
        <div class="carousel-fixed-item center">
            <!--img here-->
            <img src="{{this.gbInfo.imageLinks.thumbnail}}">
            <!--More Info buttons here??-->
            <a class="btn waves-effect white grey-text darken-text-2">Details</a>
        </div>
        
        <div class="carousel-item red white-text">
            <h2>{{this.gbInfo.title}}</h2>
            <h3>Authors</h3>
            <p class="white-text">Short description</p>
        </div>
        {{/each}}
    </div>
</div>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>

<script>
    $(document).ready(function () {
        $(".carousel").carousel();

        $(".carousel.carousel-slider").carousel({
           fullWidth: true,
          indicators: true
        }); 
    });

</script>