.list-group-item {
  line-height: 2.5;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background-image: url("../img/books-1245690_1920.jpg");
}

.nav,
.nav-wrapper {
  background-color: #fff8e1;
  background: rgb(230,218,206); /* for browsers without RGBA support */
  background: rgba(230,218,206,0.95); 
  padding: 6rem;
}

.brand-logo {
  margin-top: 0px;

}

h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
}

/* Search Page */
#intro {
  padding: 20px;
  margin-top: 37rem;
}


/* Results Page */

.carousel {
  min-height: 600px;
}

.details {
  margin: 20px;
  padding: 10px;
  overflow: scroll;
}

.favBtn {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-top: 20px;
}

#fplogo {
  display:block;
margin-right:auto;
margin-left:auto;
}

#resultstitle {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 90px;
/* background-color: white; */
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.video-container > video {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
@media screen and (max-aspect-ratio: 1920/1080) {
  .video-container > video {
    height: 100%;
  }
}
@media screen and (min-aspect-ratio: 1920/1080) {
  .video-container > video {
    width: 100%;
  }
}